<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<style>
    .menu {
    color : #eeeeee;
    padding-right: 20px;
    }

</style>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
  <link href="{{.Site.BaseURL}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
  <style type="text/css">
  {{if .Site.Params.footerCover}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/{{.Site.Params.footerCover}});}
  {{else}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/images/default.png);}
  {{end}}
  </style>
</head>
<body>
  <ul id="slide-out" class="side-nav">
    <li><a href="{{.Site.BaseURL}}"><i class="mdi-action-home left"></i>Home<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/categories"><i class="mdi-action-perm-media left"></i>Categories<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/tags"><i class="mdi-action-loyalty left"></i>Tags<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
  </ul>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <!-- <h1 class="header center teal-text text-lighten-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1> -->
            <h1 class="header center teal-text text-lighten-2">{{.Site.Title}}</h1>
            <div class="row center">
                <h5 class="header col s12 light">{{.Site.Params.description}}</h5>
            </div>
            <div style="padding-top: 150px;padding-left: 10px;">
                {{if .Site.Params.github}}
                <a href="{{ .Site.Params.home }}" class="menu">HOME</a>
                {{end}}

                {{if .Site.Params.github}}
                <a href="https://github.com/{{ .Site.Params.github }}" class="menu">GITHUB</a>
                {{end}}

            </div>
        </div>
    </div>
    <div class="parallax">
        {{if .Site.Params.headerCover}}
        <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
        {{else}}
        <img src="{{.Site.BaseURL}}/images/default.png">
        {{end}}
    </div>
</div>
